/*!
 * ZXUI - Responsive WebApp
 *
 * Copyright 2016 zxui
 */


/*
 * ***************************************************
 * MAIN LAYOUT START
 * ***************************************************
 */

#page {
    height: 100%;
    left: 0;
    right: 0;
    min-width: 320px;
    overflow: hidden;
    position: absolute;
}


/*
 * FOOTER
 */

footer#page-footer {
    height: 2.0rem;
    background: #228AA9;
    position: absolute;
    line-height: 2rem;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1000;
}

#page-footer a:hover,
#page-footer a:active,
#page-footer a:focus {
    color: #F17272;
    text-decoration: none;
}

#page-footer img.avatar-footer {
    width: 2.0rem;
    vertical-align: top;
}

#page-footer img.avatar-footer:hover {
    opacity: 0.7;
}


/*
 * LEFT PANEL
 */

#left-panel {
    background-color: #F3F3F3;
    height: 100%;
    overflow: hidden;
    position: absolute;
    width: 250px;
    padding-top: 2.5rem;
}


/*
 * MAIN PANEL
 */

#main {
    background: #e5e9ec;
    height: 100%;
    margin-left: 250px;
    overflow: hidden;
    position: absolute;
    left: 0;
    right: 0;
    transition: transform 0.5s, margin-left 0.5s;
    -webkit-overflow-scrolling: touch;
}


/*
 * HIDDEN Panel
 */

body.hidePanel #main {
    margin-left: 0;
}

@media (max-width: 768px) {
    #main {
        margin-left: 0;
    }
    body.hidePanel #main {
        margin-left: 250px;
    }
}