// List Groups

@mixin color-variant($state, $background, $color) {
  .#{$state} {
    color: $color;
    background-color: $background;
  }

  a.#{$state},
  button.#{$state} {
    color: $color;

    @include hover-focus {
      color: $color;
      background-color: darken($background, 5%);
    }

    &.active {
      @include plain-hover-focus {
        color: #fff;
        background-color: $color;
        border-color: $color;
      }
    }
  }
}
