
// 
// --------------------------------------------------
.ih-item.circle.effect1 {

    .spinner {
        width: 230px;
        height: 230px;
        border: 10px solid #ecab18;
        border-right-color: #1ad280;
        border-bottom-color: #1ad280;
        border-radius: 50%;
        @include transition( all .8s ease-in-out );
    }

    .img {
        position: absolute;
        top: 10px;
        bottom: 0;
        left: 10px;
        right: 0;
        width: auto;
        height: auto;
        &:before {
            display: none;
        }
    }

    .info {
        top: 10px;
        bottom: 0;
        left: 10px;
        right: 0;
        @include transition( all .8s ease-in-out );

        
    }

    a:hover {
        .spinner {
            @include transform( rotate(180deg) );
        }
    }
}