.right {
      float: right !important;
    }
.left {
      float: left !important;
    }
.center {    
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

.v-top {
      vertical-align: top;
    }
.v-middle {
      vertical-align: middle;
    }
.v-bottom {
      vertical-align: bottom;
    }
.l0 {
      left: 0;
    }
.r0 {
      right: 0;
    }
.lr0 {
      left: 0;
      right: 0;
    }
.t0 {
      top: 0;
    }
.b0 {
      bottom: 0;
    }
.tb0 {
      top: 0;
      bottom: 0;
    }

// Text-Alignment

.justify        { text-align: justify !important; }
.nowrap         { white-space: nowrap !important; }
.truncate       { @include text-truncate; }
.indent,.indent p,.indent div {
  text-indent: 2em;}
.text-l { text-align: left !important; }
.text-r { text-align: right !important; }
.text-c { text-align: center !important; }