<style>
	.dynamic-color>*>*{
		height:50px;
	}
</style>
<h2 class="header">调色板</h2>
<p>这套颜色系统使用fg-*、bg-*、bd-*可以分别应用于前景色（文字）、背景色、边框颜色。</p>
<div id="colors-list" class="row dynamic-color">
	<div v-for="ca in colors14" class="col xs12 sm6 md4 lg3">
		<div v-for="n in 14" :class="'bg-'+ca+n">bg-{{ca}}{{n}}</div>
	</div>
	<div v-for="cb in colors10" class="col xs12 sm6 md4 lg3">
		<div v-for="x in 10" :class="'bg-'+cb+x">bg-{{cb}}{{x}}</div>
	</div>
	<div v-for="cc in colors1" class="col xs12 sm6 md4 lg3">
		<div :class="'bg-'+cc">bg-{{cc}}</div>
	</div>
	<div v-for="cd in common" class="col xs12 sm6 md4 lg3">
		<div class="fg-white" :class="'bg-'+cd.type">bg-{{cd.type}}，{{cd.use}}</div>
	</div>
	<div v-for="ce in combination" class="col xs12 sm6 md4 lg3">
		<div :class="ce.type">{{ce.type}}，{{ce.use}}</div>
	</div>
</div>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript("../../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript("../../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS
	
	// pagefunction
	
	var pagefunction = function() {
		// clears memory even if nothing is in the function
	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();
    var colors = new Vue({
                    el: '#colors-list',
                    data: {
                        colors14: [
							"red",
							"pink",
							"purple",
							"purple-d",
							"indigo",
							"blue",
							"blue-l",
							"cyan",
							"teal",
							"green",
							"green-l",
							"lime",
							"yellow",
							"amber",
							"orange",
							"orange-d"
                        ],
						colors10: [
							"brown",
							"blue-gray",
							"gray"
                        ],
						colors1: [
							"white",
							"black",
							"transparent",
                        ],
						common: [
							{type:"teal6", use:"#009688，通常用于按钮、及任何修饰元素"},
							{type:"active", use:"#5FB878，一般用于选中状态"},
							{type:"nav", use:"#393D49，通常用于导航"},
							{type:"side", use:"#2F4056，侧边或底部普遍采用的颜色"},
							{type:"orange-d13", use:"#FF5722，比较引人注意的颜色"},
							{type:"gray8", use:"通常用于显示普通信息的背景色"},
                        ],
						combination: [
							{type:"primary", use:"预定义的主色调，鼠标经过颜色变深，设置文字为白色（下同）"},
							{type:"success", use:"通常用于显示成功的提示信息"},
							{type:"warning", use:"通常用于显示警告的提示信息"},
							{type:"info", use:"通常用于显示重要的信息"},
							{type:"error", use:"通常用于显示错误的提示信息"},
							
                        ]
                    }
                })
</script>
