<style>
	.dynamic-color>*>*{
		height:50px;
	}
</style>
<h2 class="header">调色板</h2>
<p>这套颜色系统使用fg-*、bg-*、bd-*可以分别应用于前景色（文字）、背景色、边框颜色。</p>
<div id="colors-list" class="row dynamic-color">
	<div v-for="ca in colors14" class="col xs12 sm6 md4 lg3">
		<div v-for="n in 14" :class="'bg-'+ca+n">bg-{{ca}}{{n}}</div>
	</div>
	<div v-for="cb in colors10" class="col xs12 sm6 md4 lg3">
		<div v-for="x in 10" :class="'bg-'+cb+x">bg-{{cb}}{{x}}</div>
	</div>
	<div v-for="cc in colors1" class="col xs12 sm6 md4 lg3">
		<div :class="'bg-'+cc">bg-{{cc}}</div>
	</div>
</div>
<script type="text/javascript">
	/* DO NOT REMOVE : GLOBAL FUNCTIONS!
	 *
	 * pageSetUp(); WILL CALL THE FOLLOWING FUNCTIONS
	 *
	 * // activate tooltips
	 * $("[rel=tooltip]").tooltip();
	 *
	 * // activate popovers
	 * $("[rel=popover]").popover();
	 *
	 * // activate popovers with hover states
	 * $("[rel=popover-hover]").popover({ trigger: "hover" });
	 *
	 * // activate inline charts
	 * runAllCharts();
	 *
	 * // setup widgets
	 * setup_widgets_desktop();
	 *
	 * // run form elements
	 * runAllForms();
	 *
	 ********************************
	 *
	 * pageSetUp() is needed whenever you load a page.
	 * It initializes and checks for all basic elements of the page
	 * and makes rendering easier.
	 *
	 */

	pageSetUp();
	
	/*
	 * ALL PAGE RELATED SCRIPTS CAN GO BELOW HERE
	 * eg alert("my home function");
	 * 
	 * var pagefunction = function() {
	 *   ...
	 * }
	 * loadScript("js/plugin/_PLUGIN_NAME_.js", pagefunction);
	 * 
	 * TO LOAD A SCRIPT:
	 * var pagefunction = function (){ 
	 *  loadScript("../../plugin.js", run_after_loaded);	
	 * }
	 * 
	 * OR
	 * 
	 * loadScript("../../plugin.js", run_after_loaded);
	 */

	// PAGE RELATED SCRIPTS
	
	// pagefunction
	
	var pagefunction = function() {
		// clears memory even if nothing is in the function
	};
	
	// end pagefunction
	
	// run pagefunction on load
	pagefunction();
    var colors = new Vue({
                    el: '#colors-list',
                    data: {
                        colors14: [
							"red",
							"pink",
							"purple",
							"purple-d",
							"indigo",
							"blue",
							"blue-l",
							"cyan",
							"teal",
							"green",
							"green-l",
							"lime",
							"yellow",
							"amber",
							"orange",
							"orange-d"
                        ],
						colors10: [
							"brown",
							"blue-grey",
							"grey"
                        ],
						colors1: [
							"white",
							"black",
							"transparent"
                        ]
                    }
                })
</script>
