/*!
 * zxui - Responsive WebApp
 *
 * Copyright 2016 zxui
 */
.demo-block {
  border: solid 1px #eaeefb;
  border-radius: 4px;
  transition: .2s;
  margin: 24px; }
  .demo-block.hover {
    box-shadow: 0 0 8px 0 rgba(232, 237, 250, 0.6), 0 2px 4px 0 rgba(232, 237, 250, 0.5); }
  .demo-block .source {
    padding-bottom: 20px; }
  .demo-block .meta {
    background-color: #f9fafc;
    border: solid 1px rgba(40, 67, 80, 0.6);
    clear: both;
    overflow: hidden;
    height: 0;
    transition: height .2s; }
  .demo-block .description {
    padding: 16px 20px;
    width: 40%;
    box-sizing: border-box;
    float: right;
    line-height: 1.8;
    word-break: break-word; }
  .demo-block .highlight {
    width: 60%; }
  .demo-block .demo-block-control {
    border: solid 1px rgba(40, 67, 80, 0.6);
    height: 36px;
    box-sizing: border-box;
    background-color: #fff;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    text-align: center;
    margin-top: -2px;
    color: #d3dce6;
    cursor: pointer;
    transition: .2s;
    position: relative; }
    .demo-block .demo-block-control i {
      font-size: 12px;
      line-height: 36px;
      transition: .3s; }
      .demo-block .demo-block-control i.hovering {
        transform: translateX(-40px); }
    .demo-block .demo-block-control span {
      transform: translateX(-30px);
      line-height: 36px;
      transition: .3s; }
    .demo-block .demo-block-control:hover {
      color: #20a0ff;
      background-color: #f9fafc; }
    .demo-block .demo-block-control .text-slide-enter, .demo-block .demo-block-control .text-slide-leave-active {
      opacity: 0;
      transform: translateX(10px); }

.demo-box {
  margin-bottom: 1.5rem; }

  /*

github.com style (c) Vasily Polovnyov <vast@whiteants.net>

*/
.hljs-comment,
.hljs-quote {
  color: #998;
  font-style: italic; }

.hljs-keyword,
.hljs-selector-tag,
.hljs-subst {
  color: #F1DA91;
  font-weight: bold; }

.hljs-number,
.hljs-literal,
.hljs-variable,
.hljs-template-variable,
.hljs-tag .hljs-attr {
  color: #F3C14F; }

.hljs-string,
.hljs-doctag {
  color: #52caca; }

.hljs-title,
.hljs-section,
.hljs-selector-id {
  color: #900;
  font-weight: bold; }

.hljs-subst {
  font-weight: normal; }

.hljs-type,
.hljs-class .hljs-title {
  color: #458;
  font-weight: bold; }

.hljs-name,
.hljs-attribute {
  color: #F4526e; }

.hljs-tag {
  display: block;
  color: #52caca; }

.hljs-regexp,
.hljs-link {
  color: #009926; }

.hljs-symbol,
.hljs-bullet {
  color: #990073; }

.hljs-built_in,
.hljs-builtin-name {
  color: #0086b3; }

.hljs-meta {
  color: #999;
  font-weight: bold; }

.hljs-deletion {
  background: #fdd; }

.hljs-addition {
  background: #dfd; }

.hljs-emphasis {
  font-style: italic; }

.hljs-strong {
  font-weight: bold; }

.c-loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(0, 0, 0, 0.7);
  margin: 0; }

.c-loading-spinner {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  text-align: center; }
  .c-loading-spinner .c-loading-text {
    color: #fff;
    margin: 3px 0;
    font-size: 14px; }
  .c-loading-spinner .circular {
    width: 60px;
    animation: rotate 2s linear infinite; }
  .c-loading-spinner .path {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #fff;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round; }

@keyframes rotate {
  100% {
    transform: rotate(360deg); } }
@keyframes dash {
  0% {
    stroke-dasharray: 1,150;
    stroke-dashoffset: 0; }
  50% {
    stroke-dasharray: 90,150;
    stroke-dashoffset: -35; }
  100% {
    stroke-dasharray: 90,150;
    stroke-dashoffset: -124; } }
.c-alert {
  width: 100%;
  padding: 5px 10px;
  border-radius: .25rem;
  position: relative;
  font-size: .9rem;
  background-color: #5c5c5c;
  overflow: hidden;
  color: #fff;
  opacity: 1;
  display: table;
  transition: opacity .3s; }

.c-alert .c-alert-description {
  margin: 0; }

.c-alert-content {
  display: table-cell;
  padding-left: 8px;
  vertical-align: middle; }

.c-alert .iconfont {
  display: table-cell;
  width: 1em; }

.c-alert-closebtn {
  position: absolute;
  line-height: .9rem;
  top: calc(50% - .45rem);
  right: .9rem;
  cursor: pointer; }

.c-alert-fade-enter,
.c-alert-fade-leave-active {
  opacity: 0; }

.c-msg {
  position: fixed;
  left: 50%;
  z-index: 3000;
  transition: opacity 0.3s, transform .4s; }

.c-msg-content {
  padding: 7px 0 5px 16px;
  position: relative;
  left: -50%;
  background-color: #5c5c5c;
  color: #fff;
  overflow: hidden; }

.c-msg.top {
  top: 20px; }

.c-msg.bottom {
  bottom: 24px; }

.c-msg-content > * {
  vertical-align: middle;
  margin-right: 16px; }

.c-msg .c-msg-closebtn {
  cursor: pointer; }

.c-msg-fade-enter,
.c-msg-fade-leave-active {
  opacity: 0;
  transform: translateY(-100%); }

.c-msg-fade-enter.bottom,
.c-msg-fade-leave-active.bottom {
  transform: translateY(100%); }

.c-msgbox-wrapper {
  position: fixed;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%; }

.c-msgbox {
  position: relative;
  left: -50%;
  background-color: #fff;
  width: 420px;
  border-radius: 3px;
  -webkit-user-select: none;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden; }

.c-msgbox-title {
  padding: 0 20px;
  line-height: 42px;
  height: 42px;
  color: #fff;
  background-color: #26a69a; }

.c-msgbox-title > i {
  float: right;
  color: #ccc;
  cursor: pointer;
  margin-left: .5rem; }
  .c-msgbox-title > i:hover {
    color: #fff; }

.c-msgbox-content {
  padding: 30px 20px;
  color: #475669;
  font-size: 15px;
  position: relative; }

.c-msgbox-close:hover {
  color: #fff; }

.c-msgbox-input {
  padding-top: 15px; }

.c-msgbox-input input.invalid,
.c-msgbox-input input.invalid:focus {
  border-color: #ff4949; }

.c-msgbox-errormsg {
  color: red;
  font-size: 12px;
  min-height: 18px;
  margin-top: 2px; }

.c-msgbox-btns {
  padding: 0 20px 10px;
  text-align: right; }

.c-msgbox-btns button:nth-child(2) {
  margin-left: 10px; }

.c-msgbox-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 36px !important; }

.msgbox-bounce-enter-active {
  animation: msgbox-bounce-in 0.3s cubic-bezier(0.3, 0, 0, 1.5); }

.msgbox-bounce-leave-active {
  animation: msgbox-bounce-out 0.2s cubic-bezier(0.895, 0.03, 0.685, 0.22); }

@keyframes msgbox-bounce-in {
  0% {
    transform: scale(0.8); }
  100% {
    transform: scale(1); } }
@keyframes msgbox-bounce-out {
  0% {
    transform: scale(1); }
  100% {
    transform: scale(0.7); } }
.c-notification {
  width: 330px;
  padding: 20px;
  position: fixed;
  right: 1rem;
  background-color: #5c5c5c;
  color: #fff;
  transition: opacity 0.3s, transform .3s, right .3s, top 0.4s;
  overflow: hidden;
  z-index: 9999; }
  .c-notification .iconfont {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    line-height: 1; }

.c-notification-group p {
  font-size: .9rem;
  line-height: 1.4rem;
  margin: 10px 0 0 0;
  text-align: justify; }

.c-notification-closeBtn {
  position: absolute;
  top: 8px;
  right: 20px;
  cursor: pointer;
  font-size: 1.6rem; }

.c-notification-fade-enter {
  transform: translateX(100%);
  right: 0; }

.c-notification-fade-leave-active {
  opacity: 0; }

.c-input {
  position: relative; }

.form-ctrl ~ .icon-loading {
  animation: validating-rotating 1s linear infinite; }

.c-input-append,
.c-input-prepend {
  background-color: #f9fafc;
  color: #99a9bf;
  vertical-align: middle;
  display: table-cell;
  position: relative;
  border: 1px solid #C0CCDA;
  border-radius: 4px;
  padding: 0 10px;
  width: 1%;
  white-space: nowrap; }

.c-input-append .c-button,
.c-input-append .c-select,
.c-input-prepend .c-button,
.c-input-prepend .c-select {
  display: block;
  margin: -10px; }

.c-input-append .c-button,
.c-input-append .c-select .c-input-inner,
.c-input-append .c-select:hover .c-input-inner,
.c-input-prepend .c-button,
.c-input-prepend .c-select .c-input-inner,
.c-input-prepend .c-select:hover .c-input-inner {
  border-color: transparent;
  background-color: transparent;
  color: inherit;
  border-top: 0;
  border-bottom: 0; }

.c-input-append .c-button,
.c-input-append .c-input,
.c-input-prepend .c-button,
.c-input-prepend .c-input {
  font-size: inherit; }

.c-input-prepend {
  border-right: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0; }

.c-input-append {
  border-left: 0;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0; }

@keyframes validating-rotating {
  0% {
    -webkit-transform: translate(0, -50%) rotateZ(0);
    transform: translate(0, -50%) rotateZ(0); }
  100% {
    -webkit-transform: translate(0, -50%) rotateZ(360deg);
    transform: translate(0, -50%) rotateZ(360deg); } }
.c-input-number {
  display: inline-block;
  width: 1.25em;
  cursor: pointer; }

input:disabled ~ .input-addon > .c-input-number, .c-input-number.is-disabled {
  color: #BFBFBF;
  cursor: not-allowed; }

.c-input-number:not([class*='is-disabled']):hover {
  color: #5FB878; }

.c-tooltip,
.c-tooltip-rel {
  display: inline-block; }

.c-tooltip-rel {
  position: relative; }

.c-tooltip-popper {
  position: absolute;
  border-radius: 4px;
  padding: 10px;
  z-index: 2000;
  font-size: 12px;
  line-height: 1.2;
  background-color: #1f2d3d;
  color: #fff; }

.c-tooltip-popper .popper-arrow {
  position: absolute;
  display: block;
  width: 8px;
  height: 8px;
  background-color: inherit;
  transform: rotate(-45deg); }

.c-tooltip-popper[x-placement^=top] {
  margin-bottom: 10px; }

.c-tooltip-popper[x-placement^=top] .popper-arrow {
  bottom: -4px;
  left: 50%; }

.c-tooltip-popper[x-placement^=bottom] {
  margin-top: 10px; }

.c-tooltip-popper[x-placement^=bottom] .popper-arrow {
  top: -4px;
  left: 50%; }

.c-tooltip-popper[x-placement^=right] {
  margin-left: 10px; }

.c-tooltip-popper[x-placement^=right] .popper-arrow {
  top: 50%;
  left: -4px; }

.c-tooltip-popper[x-placement^=left] {
  margin-right: 10px; }

.c-tooltip-popper[x-placement^=left] .popper-arrow {
  top: 50%;
  right: -4px; }

.c-popover {
  position: absolute;
  background: #fff;
  min-width: 150px;
  border-radius: 6px;
  border: 1px solid #ABABAB;
  padding: 10px;
  z-index: 2000;
  font-size: 13px;
  box-shadow: 0 2px 10px #ABABAB; }

.c-popover .popper-arrow,
.c-popover .popper-arrow::after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border: solid 7px transparent; }

.c-popover .popper-arrow::after {
  content: " "; }

.c-popover[x-placement^=top] {
  margin-bottom: 10px; }

.c-popover[x-placement^=top] .popper-arrow {
  bottom: -7px;
  left: 50%;
  margin-right: 3px;
  border-top-color: #ABABAB;
  border-bottom-width: 0; }

.c-popover[x-placement^=top] .popper-arrow::after {
  bottom: 1px;
  margin-left: -7px;
  border-top-color: #fff;
  border-bottom-width: 0; }

.c-popover[x-placement^=bottom] {
  margin-top: 10px; }

.c-popover[x-placement^=bottom] .popper-arrow {
  top: -7px;
  left: 50%;
  margin-right: 3px;
  border-top-width: 0;
  border-bottom-color: #ABABAB; }

.c-popover[x-placement^=bottom] .popper-arrow::after {
  top: 1px;
  margin-left: -7px;
  border-top-width: 0;
  border-bottom-color: #fff; }

.c-popover[x-placement^=right] {
  margin-left: 10px; }

.c-popover[x-placement^=right] .popper-arrow {
  top: 50%;
  left: -7px;
  margin-bottom: 3px;
  border-right-color: #ABABAB;
  border-left-width: 0; }

.c-popover[x-placement^=right] .popper-arrow::after {
  bottom: -7px;
  left: 1px;
  border-right-color: #fff;
  border-left-width: 0; }

.c-popover[x-placement^=left] {
  margin-right: 10px; }

.c-popover[x-placement^=left] .popper-arrow {
  top: 50%;
  right: -7px;
  margin-bottom: 3px;
  border-right-width: 0;
  border-left-color: #ABABAB; }

.c-popover[x-placement^=left] .popper-arrow::after {
  right: 1px;
  bottom: -7px;
  margin-left: -7px;
  border-right-width: 0;
  border-left-color: #fff; }

.c-popover-title {
  font-size: 15px;
  line-height: 1;
  margin: 3px 0;
  padding-bottom: 6px;
  border-bottom: solid 1px #CCC; }

.v-modal-enter {
  animation: v-modal-in 0.2s ease; }

.v-modal-leave {
  animation: v-modal-out 0.2s ease forwards; }

@keyframes v-modal-in {
  0% {
    opacity: 0; } }
@keyframes v-modal-out {
  to {
    opacity: 0; } }
.v-modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  opacity: .5;
  background: #000; }

.c-dialog-fixed {
  position: fixed;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 320px; }

.c-dialog-absolute {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  height: 100%;
  min-width: 320px;
  z-index: 2000; }

.c-dialog {
  position: relative;
  left: -50%;
  width: 100%;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  resize: both;
  overflow: auto; }

.c-dialog-body {
  padding: 0 0 45px;
  font-size: .95rem;
  height: calc(100% - 45px); }

.c-dialog-body > * {
  overflow: scroll;
  height: 100%;
  padding: 20px 20px 0px;
  display: block; }

.c-dialog-footer {
  padding: 12px 20px;
  text-align: right;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px; }

.dialog-fade-enter-active {
  animation: dialog-fade-in 0.3s; }

.dialog-fade-leave-active {
  animation: dialog-fade-out 0.3s; }

@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0; }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1; } }
@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1; }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0; } }
.c-slider:after,
.c-slider:before {
  display: table;
  content: ""; }

.c-slider:after {
  clear: both; }

.c-slider .popper-fade-enter,
.c-slider .popper-fade-leave-active {
  transform: scale(0.1);
  opacity: 0; }

.c-slider-runway {
  width: 100%;
  height: 4px;
  margin: 20px 0;
  background-color: #d4d8de;
  border-radius: 3px;
  position: relative;
  cursor: pointer;
  vertical-align: middle; }

.c-slider-runway.show-input {
  width: 80%; }

.c-slider-input {
  float: right;
  margin-top: 5px;
  width: 19% !important; }

.c-slider-bar {
  height: 4px;
  background-color: #20a0ff;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  position: absolute; }

.c-slider-button-wrapper {
  width: 36px;
  height: 36px;
  position: absolute;
  z-index: 1001;
  top: -16px;
  transform: translateX(-50%);
  background-color: transparent; }

.c-slider-button {
  width: 12px;
  height: 12px;
  background-color: #20a0ff;
  border-radius: 50%;
  position: absolute;
  top: 12px;
  left: 12px;
  cursor: pointer;
  transition: 0.2s; }

.c-slider-button.dragging,
.c-slider-button.hover,
.c-slider-button:hover {
  transform: scale(1.5);
  background-color: #1d8ce0;
  box-shadow: 0px 0px 4px 0px #20a0ff; }

.c-slider-pop {
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  font-size: 12px;
  line-height: 26px;
  text-align: center;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background-color: #20a0ff;
  color: #fff;
  cursor: default;
  z-index: 1000;
  transition: opacity .3s;
  transition: transform .3s, opacity .3s;
  transition: transform .3s, opacity .3s;
  transform-origin: center bottom; }

.c-slider-pop::after,
.c-slider-pop::before {
  display: inline-block;
  width: 0;
  height: 0;
  left: 4px;
  position: absolute; }

.c-slider-pop::before {
  border: solid transparent;
  border-width: 9px;
  border-bottom-color: #20a0ff;
  top: -14px; }

.c-slider-pop::after {
  border: solid transparent;
  border-width: 9px;
  border-top-color: #20a0ff;
  bottom: -14px; }

.c-slider-pop.bottom::before,
.c-slider-pop.top::after {
  content: ""; }

.c-slider-stop {
  position: absolute;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #9f9f9f;
  transform: translateX(-50%); }

/*# sourceMappingURL=zx-components.css.map */
