// shared styles
.btn
 {
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-weight: $btn-font-weight;
  line-height: $btn-line-height;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  border: none;
  outline: 0;
  color: $btn-primary-color;
  background-color: $btn-primary-bg;
  @include button-size($btn-padding-y, $btn-padding-x, $font-size-base, $btn-border-radius);
  // Gets rid of tap active state
  -webkit-tap-highlight-color: transparent;
  
  &:hover {
    opacity: .8;
    color: $btn-primary-color;
    outline:0;
    text-decoration: none;
  }
  &:focus,
  &.focus,
  &:active,
  &.active {
    opacity: .65;
    outline:0;
    color: $btn-primary-color;
    text-decoration: none;
  }
}

//
// Button Sizes
//

.btn-lg {
  // line-height: ensure even-numbered height of button next to large input
  @include button-size($btn-padding-y-lg, $btn-padding-x-lg, $font-size-lg, $btn-border-radius-lg);
}
.btn-sm {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-sm, $btn-padding-x-sm, $font-size-sm, $btn-border-radius-sm);
}
.btn-xs {
  // line-height: ensure proper height of button next to small input
  @include button-size($btn-padding-y-xs, $btn-padding-x-xs, $font-size-xs, $btn-border-radius-xs);
}
// Disabled shared style
.btn.disabled,
.btn:disabled, {
  cursor: $cursor-disabled;
  opacity: .5;
  box-shadow: none;
  color: #BBB;
  * {
    pointer-events: none;
  }

  &:hover {
    opacity: .5;
    cursor: $cursor-disabled;
    color: #BBB;
  }
}

.btn-op.disabled,
.btn-co.disabled,
.btn-o.disabled,
.btn-op:disabled,
.btn-co:disabled,
.btn-o:disabled, {
  color: #BBB;
  background-color: transparent;
  border:1px solid;
  border-color: currentColor;
  i{
    color:#BBB;
  }

  &:hover {
    color: #BBB;
    background-color: transparent;
    i{
      color:#BBB;
    }
  }
}

// Raised Button
.btn-z,.btn-pz,.btn-cz {
  @extend .zdepth1;
  transition: .2s ease-out;

  &:hover {
    @extend .zdepth2;
  }
}

// Circle button
.btn-c,.btn-cz,.btn-co {
  overflow: hidden;
  z-index: 1;
  width: $btn-circle-size;
  height: $btn-circle-size;
  line-height: $btn-circle-size;
  padding: 0;
  border-radius: 50%;
  transition: .3s;
  i {
    display: inline-block;
    text-align: center;
    font-style: normal;
  }

  &:before {
    border-radius: 0;
  }

  &.btn-lg {
    width: $btn-circle-large-size;
    height: $btn-circle-large-size;
    line-height: $btn-circle-large-size;
  }

  &.btn-sm {
    width: $btn-circle-small-size;
    height: $btn-circle-small-size;
    line-height: $btn-circle-small-size;
  }

  &.btn-xs {
    width: $btn-circle-mini-size;
    height: $btn-circle-mini-size;
    line-height:  1rem;
  }
}

//Outline Button
.btn-o,.btn-op,.btn-co {
  color: $btn-primary-bg;
  background-color: transparent;
  border:1px solid;
  border-color: currentColor;
  &:hover,
  &:focus,
  &.focus,
  &:active,
  &.active,{
    background-color: currentColor;
    color: $btn-primary-bg;
    i{
      color:$btn-primary-color;
    }
  }
}

.btn-p,.btn-pz,.btn-op {
  border-radius: 100em;
}
// Fixed Action Button
.fixed-action-btn {
  &.active {
    ul {
     visibility: visible;
    }
  }

  &.ul-btn {
    padding: 0 0 0 15px;

    ul {
      text-align: right;
      right: 64px;
      top: 50%;
      transform: translateY(-50%);
      height: 100%;
      left: auto;
      width: 500px; /*width 100% only goes to width of button container */

      li {
        display: inline-block;
        margin: 15px 15px 0 0;
      }
    }
  }

  position: fixed;
  right: 23px;
  bottom: 23px;
  padding-top: 15px;
  margin-bottom: 0;
  z-index: 998;

  ul {
    left: 0;
    right: 0;
    text-align: center;
    position: absolute;
    bottom: 64px;
    margin: 0;
    visibility: hidden;

    li {
      margin-bottom: 15px;
    }

    a.btn-c,a.btn-cz,a.btn-co, {
      opacity: 0;
    }
  }
}


// Make a button look and behave like a link
.btn-link {
  font-weight: normal;
  color: $link-color;
  border-radius: 0;

  &,
  &:active,
  &.active,
  &:disabled {
    background-color: transparent;
    @include box-shadow(none);
  }
  &,
  &:focus,
  &:active {
    border-color: transparent;
  }
  @include hover {
    border-color: transparent;
  }
  @include hover-focus {
    color: $link-hover-color;
    text-decoration: $link-hover-decoration;
    background-color: transparent;
  }
  &:disabled {
    @include hover-focus {
      color: $btn-link-disabled-color;
      text-decoration: none;
    }
  }
}

// Transform button
.btn-t {
  background-color: transparent;
  color: #000;
  cursor: pointer;

  &.disabled {
    color: #999;
    cursor: default;
  }
}

.btn.block + .btn.block{
  margin-top: $btn-block-spacing-y;
}
