// Box-shadow
.sd0 {
    box-shadow: none !important;
}

.sd1 {
    box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16), 0 3px 10px 0 rgba(0, 0, 0, 0.12);
}

.sd2 {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
}

.sd3 {
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.sd4 {
    box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.sd5 {
    box-shadow: 0 16px 24px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.sd6 {
    box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.22), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

.hoverable {
    transition: box-shadow .25s;
    box-shadow: 0;
}

.hoverable:hover {
    transition: box-shadow .25s;
    box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

//Box-radius
.br0 {
    border-radius: 0 !important;
}

.br0-l {
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.br0-r {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.br0-t {
    border-top-left-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.br0-b {
    border-bottom-left-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.br1 {
    border-radius: 0.25rem;
}

.br2 {
    border-radius: 0.5rem;
}

.br3 {
    border-radius: 1rem;
}

.br4 {
    border-radius: 1.5rem;
}

.br5 {
    border-radius: 2rem;
    padding-left: 1rem;
    padding-right: 1rem;
}

.circle {
    border-radius: 100%;
}

//border
.bd-t {
    border-top: solid;
}

.bd-r {
    border-right: solid;
}

.bd-b {
    border-bottom: solid;
}

.bd-l {
    border-left: solid;
}

.bd-x {
    border-left: solid;
    border-right: solid;
}

.bd-y {
    border-top: solid;
    border-bottom: solid;
}

.bd {
    border: solid;
}

@each $key,$width in $bd-width {
    .bw#{$key} {
        border-width: #{$width};
    }
}

.bs-dashed {
    border-style: dashed;
}

.bs-dotted {
    border-style: dotted;
}

.bs-double {
    border-style: double;
}

.bs-inset {
    border-style: inset;
}

.bs-outset {
    border-style: outset;
}

@each $key,
$width in $box-size {
    .size#{$key} {
        width: #{$width};
        height: auto;
    }
}