//
// Display
//

.block {
  display: block !important;
}
.inline-block {
  display: inline-block !important;
}
.inline {
  display: inline !important;
}
.show {
  display: block !important
}

.hide {
  display: none !important
}