.fr {
      float: right !important;
    }
.fl {
      float: left !important;
    }
.fn {
    float: none
}
.center {    
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

.vt {
      vertical-align: top;
    }
.vm {
      vertical-align: middle;
    }
.vb {
      vertical-align: bottom;
    }
.l0 {
      left: 0;
    }
.r0 {
      right: 0;
    }
.lr0 {
      left: 0;
      right: 0;
    }
.t0 {
      top: 0;
    }
.b0 {
      bottom: 0;
    }
.tb0 {
      top: 0;
      bottom: 0;
    }
// Text-Alignment

.text-j { text-align: justify !important; }
.text-l { text-align: left !important; }
.text-r { text-align: right !important; }
.text-c { text-align: center !important; }

