//
// Headings
//

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-top: 0;
  margin-bottom: $headings-margin-bottom;
  font-family: $headings-font-family;
  font-weight: $headings-font-weight;
  line-height: $headings-line-height;
  color: $headings-color;
}

h1, .h1,.f6 { font-size: $font-size-h1; }
h2, .h2,.f5 { font-size: $font-size-h2; }
h3, .h3,.f4 { font-size: $font-size-h3; }
h4, .h4,.f3 { font-size: $font-size-h4; }
h5, .h5,.f2 { font-size: $font-size-h5; }
h6, .h6,.f1 { font-size: $font-size-h6; }
// font-size7~11
.f7 {
  font-size: $font-size7;
  }
.f8 {
  font-size: $font-size8;
  }
.f9 {
  font-size: $font-size9;
  }
.f10 {
  font-size: $font-size10;
}
.f11 {
  font-size: $font-size11;
}
.f12 {
  font-size: $font-size12;
}
//
// Emphasis
//
small {
  font-size: 80%;
}

h1 small,.h1 small,h2 small,.h2 small,h3 small,.h3 small,h4 small,.h4 small,h5 small,.h5 small,h6 small,.h6 small,.small {
  font-size:$small-font-size;
  opacity:$small-font-opacity;
  margin-left:$small-font-margin-left;
  }


/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * Add the correct font style in Android 4.3-.
 */

dfn {
  font-style: italic;
}

address {
    margin-bottom: 1rem;
    font-style: normal;
    line-height: inherit;
}

mark,
.mark {
  padding: $mark-padding;
  background-color: $mark-bg;
}


/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  cursor: help;
  border-bottom: 1px dotted $abbr-border-color;
  text-decoration: underline; /* 2 */
  text-decoration: underline dotted; /* 2 */
}


// Builds on `abbr`
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

//
// Line height,max key 6
//
@each $key, $height in $line-height {
  .lh#{$key} {
    line-height: #{$height};
  }
}

//Paragraph
p {
    margin-top: 0;
    margin-bottom: 1rem;
}


//List
ol,
ul,
dl {
    margin-top: 0;
    margin-bottom: 1rem;
}

ul {
    list-style: none;
}

ol ol,
ul ul,
ol ul,
ul ol {
    margin-bottom: 0;
}

dt {
    font-weight: $dt-font-weight;
}

dd {
    margin-bottom: .5rem;
    margin-left: 0; // Undo browser default
}

// Transformation

.lowercase      { text-transform: lowercase !important; }
.uppercase      { text-transform: uppercase !important; }
.capitalize     { text-transform: capitalize !important; }

// Weight and italics

.normal  { font-weight: normal; }
.bold    { font-weight: bold; }
.italic  { font-style: italic; }
// Text-Alignment

.text-j { text-align: justify !important; }
.text-l { text-align: left !important; }
.text-r { text-align: right !important; }
.text-c { text-align: center !important; }


.nowrap { white-space: nowrap !important; }
.breakall {word-break:break-all;}
.truncate { @include text-truncate; }
.indent,.indent p,.indent div {
  text-indent: 2em;}

// Misc

.text-hide {
  @include text-hide();
}


// No Text Select
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

// Blockquotes
blockquote {
  padding: ($spacer / 2) $spacer;
  margin: 0 0 1rem;
  font-size: $blockquote-font-size;
  border-left: solid $blockquote-border-width $blockquote-border-color;
  background-color: #ECECEC;
}

.bq-border {
  padding: ($spacer / 2) $spacer;
  margin: $spacer 0;
  font-size: $blockquote-font-size;
  border: solid 1px $blockquote-border-color;
  border-left-width: $blockquote-border-width;
  border-radius: $blockquote-border-radius;
  background-color: inherit;
}

.bq-footer {
  display: block;
  font-size: 80%; // back to default font-size
  color: $blockquote-small-color;

  &::before {
    content: "\2014 \00A0"; // em dash, nbsp
  }
}

// Opposite alignment of blockquote
.bq-reverse {
  text-align: right;
  border-left-width: 0;
  border-right: solid $blockquote-border-width $blockquote-border-color;
}

.bq-border.bq-reverse {
  text-align: right;
  border-left-width: 1px;
  border-right-width: $blockquote-border-width;
}

.bq-reverse .bq-footer {
  &::before {
    content: "";
  }
  &::after {
    content: "\00A0 \2014"; // nbsp, em dash
  }
}

//
// Horizontal rules
//

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
  margin-top: $spacer-y;
  margin-bottom: $spacer-y;
  border: 0;
  border-top: $hr-border-width solid $hr-border-color;
}

@if not $enable-flex {
  // Clean up some horizontal `<dl>`s built with grids
  // scss-lint:disable QualifyingElement
  dl.row {
    > dd + dt {
      clear: left;
    }
  }
  // scss-lint:enable QualifyingElement
}
