
// Shared
// -------------------------
.ih-item.square.effect15 {
   
    @include perspective(900px);

    .img {
        opacity: 1;
        @include transition(  all .4s ease-in-out );
    }

    .info {
        @include transition(  all .35s ease-in-out .3s);

        
    }

    a:hover {
        .img {
            opacity: 0;
            visibility: hidden;
        }

        
    }
}

// -------------------------
.ih-item.square.effect15.l2r {
    .img {
        @include transform( rotateY(0) );
        @include transform-origin( 100% 50% );
    }

    .info {
        @include transform( rotateY(90deg) );
        @include transform-origin( 0% 50% );
    }

    a:hover {
        .img {
            @include transform( rotateY(-90deg) );
        }

        .info {
            @include transform( rotateY(0) );
        }
    }
}


// -------------------------
.ih-item.square.effect15.r2l {
    .img {
        @include transform( rotateY(0) );
        @include transform-origin( 0% 50% );
    }

    .info {
        @include transform( rotateY(-90deg) );
        @include transform-origin( 100% 50% );
    }

    a:hover {
        .img {
            @include transform( rotateY(90deg) );
        }

        .info {
            @include transform( rotateY(0) );
        }
    }
}

// -------------------------
.ih-item.square.effect15.t2b {
    .img {
        @include transform( rotateX(0) );
        @include transform-origin( 50% 100% );
    }

    .info {
        @include transform( rotateX(-90deg) );
        @include transform-origin( 50% 0 );
    }

    a:hover {
        .img {
            @include transform( rotateX(90deg) );
        }

        .info {
            @include transform( rotateX(0) );
        }
    }   
}

// -------------------------
.ih-item.square.effect15.b2t {
    .img {
        @include transform( rotateX(0) );
        @include transform-origin( 50% 0 );
    }

    .info {
        @include transform( rotateX(90deg) );
        @include transform-origin( 50% 100% );
    }

    a:hover {
        .img {
            @include transform( rotateX(-90deg) );
        }

        .info {
            @include transform( rotateX(0) );
        }
    }  
}