// Inline and block code styles
code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
    background-color: $code-bg;
    color: $code-color;
    font-size: $code-font-size;
}

// Inline code
code {
    padding: $code-padding-y $code-padding-x;
    @include border-radius($border-radius);
}

// User input typically entered via keyboard
kbd {
    padding: $code-padding-y $code-padding-x;
    color: $kbd-color;
    @include border-radius($border-radius-sm);
    @include box-shadow($kbd-box-shadow);
    kbd {
        padding: 0;
        font-size: 100%;
        font-weight: $nested-kbd-font-weight;
        @include box-shadow(none);
    }
}

// Blocks of code
pre {
    display: block;
    margin-top: 0;
    margin-bottom: 1rem;
    color: $pre-color;
}

// Enable scrollable blocks of code
.pre-scrollable {
    max-height: $pre-scrollable-max-height;
    overflow-y: scroll;
}