/*******************************
            Progress
*******************************/

.progress {
  display: block;
  height: 1.5em;
  width: 100%;
  border: none;
  margin: 1rem 0 2.5rem;
  box-shadow: none;
  background: $progress-bg;
  padding: 0;
  border-radius: $progress-border-radius;
}

.progress::after {
  position: absolute;
  content: attr(data-label);
  width: 100%;
  font-size: 1em;
  right: 0;
  left: 0;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-shadow: none;
  margin-top: 1.3em;
  text-align: center;
  transition: color 0.4s ease;
}

.progress:first-child {
  margin: 0 0 2.5rem;
}

.progress:last-child {
  margin: 0 0 1.5rem;
}

.progress-o {
  border: solid 1px $progress-bar-color;
  background: transparent;
}

.progress.line {
  height:3px;
  margin: 0;
}

.progress.tiny {
  height:1em;
}

/*******************************
            Content
*******************************/

/* Activity Bar */

.progress .bar {
  display: block;
  float: left;
  white-space: nowrap;
  height: 100%;
  color: #fff;
  text-align: right;
  background: $progress-bar-color;
  transition: width 0.1s ease, background-color 0.1s ease;

}

.progress .bar:first-child {
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}

.progress .bar:last-child {
  border-top-right-radius: inherit;
  border-bottom-right-radius: inherit;
}

.progress .bar.bar-striped {
  background-image:linear-gradient(45deg,rgba(255,255,255,.15) 25%,transparent 25%,transparent 50%,rgba(255,255,255,.15) 50%,rgba(255,255,255,.15) 75%,transparent 75%,transparent);
  background-size: 40px 40px;
}

/*--------------
     Active
---------------*/

.active.progress .bar {
  position: relative;
  min-width: 2em;
}

.active.progress .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ffffff;
  border-radius: 0.28571429rem;
  animation: progress-active 2s ease infinite;
}

@keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

.progress .bar-striped.active {
    animation: progress-bar-stripes 2s linear infinite;
  }
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
    }
  to {
    background-position: 0 0;
    }
  }
/*--------------
    Disabled
---------------*/

.disabled.progress {
  opacity: 0.35;
}

.disabled.progress .bar,
.disabled.progress .bar::after {
  animation: none !important;
}

/*******************************
            Progress
*******************************/