.c-alert {
    width: 100%;
    padding: 5px 10px;
    border-radius: .25rem;
    position: relative;
    font-size: .9rem;
    background-color: $gray;
    overflow: hidden;
    color: #fff;
    opacity: 1;
    display: table;
    transition: opacity .3s;
}

.c-alert .c-alert-description {
    margin: 0;
}

.c-alert-content {
    display: table-cell;
    padding-left: 8px;
    vertical-align: middle;
}

.c-alert .iconfont {
    display: table-cell;
    width: 1em;
}

.c-alert-closebtn {
    position: absolute;
    line-height: .9rem;
    top: calc(50% - .45rem);
    right: .9rem;
    cursor: pointer;
}

.c-alert-fade-enter,
.c-alert-fade-leave-active {
    opacity: 0;
}