.v-modal-enter {
    animation: v-modal-in .2s ease
}

.v-modal-leave {
    animation: v-modal-out .2s ease forwards
}

@keyframes v-modal-in {
    0% {
        opacity: 0
    }
}

@keyframes v-modal-out {
    to {
        opacity: 0
    }
}

.v-modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: .5;
    background: #000
}

.c-dialog-fixed {
    position: fixed;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 320px;
}

.c-dialog-absolute {
    position: absolute;
    top: 0;
    left: 50%;
    display: flex;
    align-items: center;
    height: 100%;
    min-width: 320px;
    z-index: 2000;
}

.c-dialog {
    position: relative;
    left: -50%;
    width: 100%;
    background: #fff;
    border-radius: 3px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, .3);
}

.c-dialog-body {
    padding: 00px 00px 45px;
    font-size: .95rem;
    height: calc(100% - 45px);
}

.c-dialog-body>* {
    overflow: scroll;
    height: 100%;
    padding: 20px 20px 0px;
    display: block;
}

.c-dialog-footer {
    padding: 12px 20px;
    text-align: right;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

.dialog-fade-enter-active {
    animation: dialog-fade-in .3s
}

.dialog-fade-leave-active {
    animation: dialog-fade-out .3s
}

@keyframes dialog-fade-in {
    0% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
    100% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
}

@keyframes dialog-fade-out {
    0% {
        transform: translate3d(0, 0, 0);
        opacity: 1
    }
    100% {
        transform: translate3d(0, -20px, 0);
        opacity: 0
    }
}