.c-loading-mask {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10000;
  background-color: rgba(0,0,0,0.7);
  margin: 0;
}
.c-loading-spinner {
  position: absolute;
  top: 50%;
  margin-top: -30px;
  width: 100%;
  text-align: center;

  .c-loading-text {
    color: #fff;
    margin: 3px 0;
    font-size: 14px;
  }

  .circular {
    width: 60px;
    animation: rotate 2s linear infinite;
  }

  .path {
    stroke-dasharray: 1, 100;
    stroke-dashoffset: 0;
    stroke-width: 2;
    stroke: #fff;
    animation: dash 1.5s ease-in-out infinite;
    stroke-linecap: round;
  }
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

@keyframes dash {
  0% {
      stroke-dasharray: 1,150;
      stroke-dashoffset: 0;
  }
  50% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -35;
  }
  100% {
      stroke-dasharray: 90,150;
      stroke-dashoffset: -124;
  }
}
