.c-msg {
    padding: 10px 0 10px 16px;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background-color: $gray;
    color: #fff;
    transition: opacity 0.3s, transform .4s;
    overflow: hidden;
    z-index: 9999;
 }

.c-msg.top {
   top: 20px;
 }

 .c-msg.bottom {
   bottom: 24px;
 }

 .c-msg > * {
   vertical-align: middle;
   margin-right: 16px;
 }

.c-msg .c-msg-closebtn {
  cursor: pointer;
}
  .c-msg-fade-enter,
  .c-msg-fade-leave-active {
    opacity: 0;
    transform: translate(-50%, -100%);
  }
