.c-msgbox-wrapper {
    position: fixed;
    left: 50%;
    display: flex;
    align-items: center;
    height: 100%;
}
.c-msgbox {
    position: relative;
    left: -50%;
    background-color: #fff;
    width: 420px;
    border-radius: 3px;
    -webkit-user-select: none;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden
}

.c-msgbox-title {
    padding: 0 20px;
    line-height: 42px;
    height: 42px;
    color:#fff;
    background-color: $color-primary;
}

.c-msgbox-title > i {
    float: right;
    color: #ccc;
    cursor: pointer;
    margin-left: .5rem;
    &:hover {
    color: #fff;
  }
}

.c-msgbox-content {
    padding: 30px 20px;
    color: #475669;
    font-size: 15px;
    position: relative
}

.c-msgbox-close:hover {
    color: #fff;
}

.c-msgbox-input {
    padding-top: 15px
}

.c-msgbox-input input.invalid,
.c-msgbox-input input.invalid:focus {
    border-color: #ff4949
}

.c-msgbox-errormsg {
    color: red;
    font-size: 12px;
    min-height: 18px;
    margin-top: 2px
}


.c-msgbox-btns {
    padding: 0 20px 10px;
    text-align: right
}

.c-msgbox-btns button:nth-child(2) {
    margin-left: 10px
}

.c-msgbox-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 36px!important
}

.msgbox-bounce-enter-active {
    animation: msgbox-bounce-in .3s cubic-bezier(.3, 0, 0, 1.5)
}

.msgbox-bounce-leave-active {
    animation: msgbox-bounce-out .2s cubic-bezier(.895, .03, .685, .22)
}

@keyframes msgbox-bounce-in {
    0% {
        transform: scale(.8)
    }
    100% {
        transform: scale(1)
    }
}

@keyframes msgbox-bounce-out {
    0% {
        transform: scale(1)
    }
    100% {
        transform: scale(.7)
    }
}