.c-msg {
    position: fixed;
    left: 50%;
    z-index: 3000;
    transition: opacity 0.3s, transform .4s;
 }

 .c-msg-content {
    padding: 7px 0 5px 16px;
    position: relative;
    left: -50%;
    background-color: $gray;
    color: #fff;
    overflow: hidden;
 }

.c-msg.top {
   top: 20px;
 }

 .c-msg.bottom {
   bottom: 24px;
 }

 .c-msg-content > * {
   vertical-align: middle;
   margin-right: 16px;
 }

.c-msg .c-msg-closebtn {
  cursor: pointer;
}
.c-msg-fade-enter,
.c-msg-fade-leave-active {
  opacity: 0;
  transform: translateY(-100%);
}
.c-msg-fade-enter.bottom,
.c-msg-fade-leave-active.bottom {
  transform: translateY(100%);
}