.c-tooltip,
.c-tooltip-rel {
    display: inline-block
}

.c-tooltip-rel {
    position: relative
}

.c-tooltip-popper {
    position: absolute;
    border-radius: 4px;
    padding: 10px;
    z-index: 2000;
    font-size: 12px;
    line-height: 1.2;
    background-color: #1f2d3d;
    color: #fff;
}

.c-tooltip-popper .popper-arrow {
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: inherit;
    transform: rotate(-45deg);
}

.c-tooltip-popper[x-placement^=top] {
    margin-bottom: 10px;
}

.c-tooltip-popper[x-placement^=top] .popper-arrow {
    bottom: -4px;
    left: 50%;
}

.c-tooltip-popper[x-placement^=bottom] {
    margin-top: 10px;
}

.c-tooltip-popper[x-placement^=bottom] .popper-arrow {
    top: -4px;
    left: 50%;
}

.c-tooltip-popper[x-placement^=right] {
    margin-left: 10px;
}

.c-tooltip-popper[x-placement^=right] .popper-arrow {
    top: 50%;
    left: -4px;
}

.c-tooltip-popper[x-placement^=left] {
    margin-right: 10px;
}

.c-tooltip-popper[x-placement^=left] .popper-arrow {
    top: 50%;
    right: -4px;
}
