/*--------------
   Horizontal divider
---------------*/

.divider {
  display: table;
  white-space: nowrap;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  height: auto;
  overflow: hidden;
  text-align: center;
}

.divider:before,
.divider:after {
  content: '';
  display: table-cell;
  position: relative;
  bottom: 0.5em;
  width: 50%;
  border-bottom:1px solid currentColor;
  transform: scaleX(0.9);
}
