/*--------------
   Horizontal progress bar
---------------*/

.progress,progress {
  display: block;
  background-color: $input-disabled-solid-color;
  width:100%;
  height: 0.8rem;
  font-size: 0.8rem;
  text-align: center;
  line-height: 100%;
  color: white;
}
.progress::before {
  content: "30%";
  display: block;
  width: 30%;
  height: 100%;
  background-color: $secondary-color;

}


/*******************************
            Progress
*******************************/

.progress {
  position: relative;
  display: block;
  max-width: 100%;
  border: none;
  margin: 1em 0em 2.5em;
  box-shadow: none;
  background: rgba(0, 0, 0, 0.1);
  padding: 0em;
  border-radius: 0.28571429rem;
}

.progress:first-child {
  margin: 0em 0em 2.5em;
}

.progress:last-child {
  margin: 0em 0em 1.5em;
}

/*******************************
            Content
*******************************/

/* Activity Bar */

.progress .bar {
  display: block;
  line-height: 1;
  position: relative;
  width: 0%;
  min-width: 2em;
  background: #888888;
  border-radius: 0.28571429rem;
  -webkit-transition: width 0.1s ease, background-color 0.1s ease;
  transition: width 0.1s ease, background-color 0.1s ease;
}

/* Percent Complete */

.progress .bar > .progress {
  white-space: nowrap;
  position: absolute;
  width: auto;
  font-size: 0.92857143em;
  top: 50%;
  right: 0.5em;
  left: auto;
  bottom: auto;
  color: rgba(255, 255, 255, 0.7);
  text-shadow: none;
  margin-top: -0.5em;
  font-weight: bold;
  text-align: left;
}

/* Label */

.progress > .label {
  position: absolute;
  width: 100%;
  font-size: 1em;
  top: 100%;
  right: auto;
  left: 0%;
  bottom: auto;
  color: rgba(0, 0, 0, 0.87);
  font-weight: bold;
  text-shadow: none;
  margin-top: 0.2em;
  text-align: center;
  -webkit-transition: color 0.4s ease;
  transition: color 0.4s ease;
}

/*******************************
            Types
*******************************/

/* Indicating */

.indicating.progress[data-percent^="1"] .bar,
.indicating.progress[data-percent^="2"] .bar {
  background-color: #d95c5c;
}

.indicating.progress[data-percent^="3"] .bar {
  background-color: #efbc72;
}

.indicating.progress[data-percent^="4"] .bar,
.indicating.progress[data-percent^="5"] .bar {
  background-color: #e6bb48;
}

.indicating.progress[data-percent^="6"] .bar {
  background-color: #ddc928;
}

.indicating.progress[data-percent^="7"] .bar,
.indicating.progress[data-percent^="8"] .bar {
  background-color: #b4d95c;
}

.indicating.progress[data-percent^="9"] .bar,
.indicating.progress[data-percent^="100"] .bar {
  background-color: #66da81;
}

/* Indicating Label */

.indicating.progress[data-percent^="1"] .label,
.indicating.progress[data-percent^="2"] .label {
  color: rgba(0, 0, 0, 0.87);
}

.indicating.progress[data-percent^="3"] .label {
  color: rgba(0, 0, 0, 0.87);
}

.indicating.progress[data-percent^="4"] .label,
.indicating.progress[data-percent^="5"] .label {
  color: rgba(0, 0, 0, 0.87);
}

.indicating.progress[data-percent^="6"] .label {
  color: rgba(0, 0, 0, 0.87);
}

.indicating.progress[data-percent^="7"] .label,
.indicating.progress[data-percent^="8"] .label {
  color: rgba(0, 0, 0, 0.87);
}

.indicating.progress[data-percent^="9"] .label,
.indicating.progress[data-percent^="100"] .label {
  color: rgba(0, 0, 0, 0.87);
}

/* Single Digits */

.indicating.progress[data-percent="1"] .bar,
.indicating.progress[data-percent="2"] .bar,
.indicating.progress[data-percent="3"] .bar,
.indicating.progress[data-percent="4"] .bar,
.indicating.progress[data-percent="5"] .bar,
.indicating.progress[data-percent="6"] .bar,
.indicating.progress[data-percent="7"] .bar,
.indicating.progress[data-percent="8"] .bar,
.indicating.progress[data-percent="9"] .bar {
  background-color: #d95c5c;
}

.indicating.progress[data-percent="1"] .label,
.indicating.progress[data-percent="2"] .label,
.indicating.progress[data-percent="3"] .label,
.indicating.progress[data-percent="4"] .label,
.indicating.progress[data-percent="5"] .label,
.indicating.progress[data-percent="6"] .label,
.indicating.progress[data-percent="7"] .label,
.indicating.progress[data-percent="8"] .label,
.indicating.progress[data-percent="9"] .label {
  color: rgba(0, 0, 0, 0.87);
}

/* Indicating Success */

.indicating.progress.success .label {
  color: #1a531b;
}
/*******************************
             States
*******************************/

/*--------------
     Success
---------------*/

.progress.success .bar {
  background-color: #21ba45 !important;
}

.progress.success .bar,
.progress.success .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}

.progress.success > .label {
  color: #1a531b;
}

/*--------------
     Warning
---------------*/

.progress.warning .bar {
  background-color: #f2c037 !important;
}

.progress.warning .bar,
.progress.warning .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}

.progress.warning > .label {
  color: #794b02;
}

/*--------------
     Error
---------------*/

.progress.error .bar {
  background-color: #db2828 !important;
}

.progress.error .bar,
.progress.error .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}

.progress.error > .label {
  color: #912d2b;
}

/*--------------
     Active
---------------*/

.active.progress .bar {
  position: relative;
  min-width: 2em;
}

.active.progress .bar::after {
  content: '';
  opacity: 0;
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: #ffffff;
  border-radius: 0.28571429rem;
  -webkit-animation: progress-active 2s ease infinite;
  animation: progress-active 2s ease infinite;
}

@-webkit-keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

@keyframes progress-active {
  0% {
    opacity: 0.3;
    width: 0;
  }

  100% {
    opacity: 0;
    width: 100%;
  }
}

/*--------------
    Disabled
---------------*/

.disabled.progress {
  opacity: 0.35;
}

.disabled.progress .bar,
.disabled.progress .bar::after {
  -webkit-animation: none !important;
  animation: none !important;
}

/*******************************
           Variations
*******************************/

/*--------------
    Inverted
---------------*/

.inverted.progress {
  background: rgba(255, 255, 255, 0.08);
  border: none;
}

.inverted.progress .bar {
  background: #888888;
}

.inverted.progress .bar > .progress {
  color: #f9fafb;
}

.inverted.progress > .label {
  color: #ffffff;
}

.inverted.progress.success > .label {
  color: #21ba45;
}

.inverted.progress.warning > .label {
  color: #f2c037;
}

.inverted.progress.error > .label {
  color: #db2828;
}

/*--------------
    Attached
---------------*/

/* bottom attached */

.progress.attached {
  background: transparent;
  position: relative;
  border: none;
  margin: 0em;
}

.progress.attached,
.progress.attached .bar {
  display: block;
  height: 0.2rem;
  padding: 0px;
  overflow: hidden;
  border-radius: 0em 0em 0.28571429rem 0.28571429rem;
}

.progress.attached .bar {
  border-radius: 0em;
}

/* top attached */

.progress.top.attached,
.progress.top.attached .bar {
  top: 0px;
  border-radius: 0.28571429rem 0.28571429rem 0em 0em;
}

.progress.top.attached .bar {
  border-radius: 0em;
}

/* Coupling */

.segment > .attached.progress,
.card > .attached.progress {
  position: absolute;
  top: auto;
  left: 0;
  bottom: 100%;
  width: 100%;
}

.segment > .bottom.attached.progress,
.card > .bottom.attached.progress {
  top: 100%;
  bottom: auto;
}

/*--------------
     Colors
---------------*/

/* Red */

.red.progress .bar {
  background-color: #db2828;
}

.red.inverted.progress .bar {
  background-color: #ff695e;
}

/* Orange */

.orange.progress .bar {
  background-color: #f2711c;
}

.orange.inverted.progress .bar {
  background-color: #ff851b;
}

/* Yellow */

.yellow.progress .bar {
  background-color: #fbbd08;
}

.yellow.inverted.progress .bar {
  background-color: #ffe21f;
}

/* Olive */

.olive.progress .bar {
  background-color: #b5cc18;
}

.olive.inverted.progress .bar {
  background-color: #d9e778;
}

/* Green */

.green.progress .bar {
  background-color: #21ba45;
}

.green.inverted.progress .bar {
  background-color: #2ecc40;
}

/* Teal */

.teal.progress .bar {
  background-color: #00b5ad;
}

.teal.inverted.progress .bar {
  background-color: #6dffff;
}

/* Blue */

.blue.progress .bar {
  background-color: #2185d0;
}

.blue.inverted.progress .bar {
  background-color: #54c8ff;
}

/* Violet */

.violet.progress .bar {
  background-color: #6435c9;
}

.violet.inverted.progress .bar {
  background-color: #a291fb;
}

/* Purple */

.purple.progress .bar {
  background-color: #a333c8;
}

.purple.inverted.progress .bar {
  background-color: #dc73ff;
}

/* Pink */

.pink.progress .bar {
  background-color: #e03997;
}

.pink.inverted.progress .bar {
  background-color: #ff8edf;
}

/* Brown */

.brown.progress .bar {
  background-color: #a5673f;
}

.brown.inverted.progress .bar {
  background-color: #d67c1c;
}

/* Grey */

.grey.progress .bar {
  background-color: #767676;
}

.grey.inverted.progress .bar {
  background-color: #dcddde;
}

/* Black */

.black.progress .bar {
  background-color: #1b1c1d;
}

.black.inverted.progress .bar {
  background-color: #545454;
}

/*--------------
     Sizes
---------------*/

.tiny.progress {
  font-size: 0.85714286rem;
}

.tiny.progress .bar {
  height: 0.5em;
}

.small.progress {
  font-size: 0.92857143rem;
}

.small.progress .bar {
  height: 1em;
}

.progress {
  font-size: 1rem;
}

.progress .bar {
  height: 1.75em;
}

.large.progress {
  font-size: 1.14285714rem;
}

.large.progress .bar {
  height: 2.5em;
}

.big.progress {
  font-size: 1.28571429rem;
}

.big.progress .bar {
  height: 3.5em;
}

/*******************************
            Progress
*******************************/