.right {
      float: right !important;
    }
.left {
      float: left !important;
    }
.center {    
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .left-#{$breakpoint} {
      @include pull-left();
    }
    .right-#{$breakpoint} {
      @include pull-right();
    }
    .float-none-#{$breakpoint} {
      float: none !important;
    }
  }
}

.v-top {
      vertical-align: top;
    }
.v-middle {
      vertical-align: middle;
    }
.v-bottom {
      vertical-align: bottom;
    }
.l0 {
      left: 0;
    }
.r0 {
      right: 0;
    }
.lr0 {
      left: 0;
      right: 0;
    }
.t0 {
      top: 0;
    }
.b0 {
      bottom: 0;
    }
.tb0 {
      top: 0;
      bottom: 0;
    }

// Text-Alignment

.text-justify        { text-align: justify !important; }
.text-nowrap         { white-space: nowrap !important; }
.text-truncate       { @include text-truncate; }
.text-indent,.text-indent p,.text-indent div {
  text-indent: 2em;}

// Responsive alignment

@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    .text-left-#{$breakpoint}   { text-align: left !important; }
    .text-right-#{$breakpoint}  { text-align: right !important; }
    .text-center-#{$breakpoint} { text-align: center !important; }
  }
}