//
// Base styles
//

.card {
  margin-bottom: 15px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, .05)
}

.card:last-child {
  margin-bottom: 0
}

.card-header {
  position: relative;
  height: 42px;
  line-height: 42px;
  padding: 0 15px;
  border-bottom: 1px solid #f6f6f6;
  color: #333;
  border-radius: 2px 2px 0 0;
  font-size: 14px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis
}

.card-body {
  position: relative;
  padding: 10px 15px;
  line-height: 24px
}

.card-body[pad15] {
  padding: 15px
}

.card-body[pad20] {
  padding: 20px
}

.card-body .table {
  margin: 5px 0
}

.card .tab {
  margin: 0
}

.card-header.title {
  display: block;
  padding: 20px 15px;
  font-size: 16px;
  color: #37474f;
  height: auto;
  line-height: 20px
}

.card-header.title>* {
  color: #888;
  font-size: 14px;
  line-height: 20px
}