//
// Basic table style
//

.table {
  width: 100%;
  max-width: 100%;
  margin-bottom: $spacer;
  border-radius: .285rem;
  text-align: left;
  background-color: $table-bg;
  th,
  td {
    padding: $table-cell-padding;
    vertical-align: top;
    border-bottom: $table-border-width solid $table-border-color;
  }

  thead,tfoot {
    background-color: rgba(0,0,0,0.1);.
    vertical-align: bottom;
  }

  thead {
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody,tfoot {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }

}


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-sm-cell-padding;
  }
}


// Add borders all around the table and between all the columns.

.table-bd {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

}


// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(even) {
    background-color: $table-bg-accent;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    @include hover {
      background-color: $table-bg-hover;
    }
  }
}

// Responsive tables
//
// Wrap your tables in `.table-responsive` and we'll make them mobile friendly
// by enabling horizontal scrolling. Only applies <768px. Everything above that
// will display normally.

.table-resp {
  display: block;
  width: 100%;
  min-height: .01%; // Workaround for IE9 bug (see https://github.com/twbs/bootstrap/issues/14837)
  overflow-x: auto;

  // TODO: find out if we need this still.
  //
  // border: $table-border-width solid $table-border-color;
  // -ms-overflow-style: -ms-autohiding-scrollbar; // See https://github.com/twbs/bootstrap/pull/10057
}

.table-reflow {
  
  thead,tr {
    float: left;
    border: 0;
    border-right-style: solid;
  }

  tbody,tfoot {
    display: block;
    white-space: nowrap;
  }

    th,
    td {
      display: block !important;
      border: $table-border-width solid $table-border-color;
      margin-left:-1px;
      margin-bottom:-1px;
    }
  // scss-lint:enable ImportantRule
}


.table-inverse {
    color: $gray-lighter;
   	border: none;
    background-color: $gray-dark;
  thead,tfoot {
    background-color: rgba(0,0,0,.15);
  }

  thead,tfoot,td,th{
	border-color: rgba(255,255,255,.08)!important;
  }
}



