// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.tag {
  display: inline-block;
  padding: $tag-padding-y $tag-padding-x;
  font-size: $tag-font-size;
  font-weight: $tag-font-weight;
  line-height: 1;
  color: $tag-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-bottom;
  @include border-radius();

  // Empty tags collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for tags in buttons
.btn .tag {
  position: relative;
  top: -1px;
}

// scss-lint:disable QualifyingElement
// Add hover effects, but only for links
a.tag {
  @include hover-focus {
    opacity: .75;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
  }
}

// Pill tags
//
// Make them extra rounded with a modifier to replace v3's badges.

.tag-pill {
  padding-right: $tag-pill-padding-x;
  padding-left: $tag-pill-padding-x;
  @include border-radius($tag-pill-border-radius);
}


.tag-group{
  position: relative;
  display: inline-block;

  > img {
    height: 1.125em;
    width: auto;
    vertical-align: text-bottom;
  }
}

// Prevent double borders when buttons are next to each other
.tag-group {
  :not(:first-child) {
    margin-left: 0;
  }
}

.tag-group > :not(:first-child):not(:last-child){
  border-radius: 0;
}

.tag-group > :first-child:not(:last-child) {
  border-radius: 0.25em 0 0 0.25em;
}

.tag-group > :last-child:not(:first-child) {
  border-radius:  0 0.25em 0.25em 0;
}