// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.tag {
  position: relative;
  display: inline-block;
  padding: $tag-padding-y $tag-padding-x;
  font-size: $tag-font-size;
  font-weight: $tag-font-weight;
  line-height: 1;
  color: $tag-color;
  text-align: center;
  white-space: nowrap;
  vertical-align: text-bottom;
  @include border-radius();

  // Empty tags collapse automatically
  &:empty {
    display: none;
  }
}

.tag-a:before,.tag-a:after {
    position: absolute;
    content: '';
}
.tag-a:before {
    transform: rotate(-45deg);
    left: -0.46em;
    background-color: inherit;
    width: 1.07em;
    height: 1.07em;
}

.tag-a:after {
    left: 0;
    margin-top: 0.325em;
    background-color: #FFF!important;
    width: 0.4em;
    height: 0.4em;
    box-shadow: 0 -1px 1px 0 rgba(0,0,0,.3);
    border-radius: 500rem;
}

.tag.tag-a{
	padding-left: 1.2em;
	padding-right: 1em;
}

 .tag-o,.tag-op {
  color: $btn-primary-bg;
  background-color: transparent;
  border:1px solid;
  border-color: currentColor;
}

// scss-lint:disable QualifyingElement
// Add hover effects, but only for links
a.tag:not([class^="tag-o"]) {
  @include hover-focus {
    opacity: .75;
    text-decoration: none;
    color:#fff;
    cursor: pointer;
  }
}

// Pill tags
//
// Make them extra rounded with a modifier to replace v3's badges.

.tag-p,.tag-op {
  padding-right: $tag-pill-padding-x;
  padding-left: $tag-pill-padding-x;
  @include border-radius($tag-pill-border-radius);
}


.tag-group{
  position: relative;
  display: inline-block;

  > img {
    height: 1.125em;
    width: auto;
    vertical-align: text-bottom;
  }
}

// Prevent double borders when buttons are next to each other
.tag-group {
  :not(:first-child) {
    margin-left: 0;
  }
}

.tag-group > :not(:first-child):not(:last-child){
  border-radius: 0;
}

.tag-group > :first-child:not(:last-child) {
  border-radius: 0.25em 0 0 0.25em;
}

.tag-group > :last-child:not(:first-child) {
  border-radius:  0 0.25em 0.25em 0;
}


.tag-sup {
	position: absolute;
	z-index: 100;
	top: -.8em;
	right: -.8em;
}

.tag-corner {
	position: absolute;
	display: block;
    top: 0;
    margin: 0;
    font-size: 1em;
    padding:0.5em;
    width: 3em;
    height: 3em;
    z-index: 1;
    background-color: transparent!important;
}
.left.tag-corner {
    left: 0;
    text-align: left;
}

.right.tag-corner {
    right: 0;
    text-align: right;
}
.tag-corner:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    z-index: -1;
    width: 0;
    height: 0;
    background-color: transparent!important;
}

.left.tag-corner:after {
    border-left: 3em solid;
    border-bottom: 3em solid transparent;
    border-left-color: inherit;
}

.right.tag-corner:after {
    border-right: 3em solid;
    border-bottom: 3em solid transparent;
    border-right-color: inherit;
}

.tag-r,.tag-at {
	position: absolute;
	display: block;
    padding:0.5em 2em;
    z-index: 1;
    border-radius: 0;
}
.tag-r {
    top: 0;
}
.left.tag-r {
    left: 0;
}

.right.tag-r {
    right: 0;
}
.tag-r:before {
    position: absolute;
    content: "";
    top: 100%;
    width: 0;
    height: 0;
    border-bottom: $grid-gutter-width/2 solid transparent;
}

.right.tag-r:before {
    border-left: $grid-gutter-width/2 solid;
    border-left-color: inherit;
    right: 0;
}

.left.tag-r:before {
    border-right: $grid-gutter-width/2 solid;
    border-right-color: inherit;
    left: 0;
}

.tag-at:not([class*="left"]):not([class*="right"]) {
    width: 100%;
    left: 0;
    right: 0;
}

